html{
  background-color: #1b1b1b;
}


/* Mobile */
@media (max-width: 460px) and (min-width: 320px) {
   body::-webkit-scrollbar{
      background-color:#1b1b1b;
      height: 5px;
      width: 5px;
    }
    body::-webkit-scrollbar-thumb{
      background-color:#e29b9b;
      width: 3px;
      height: 3px;
      border-radius: 10px;

    }
    .texto-barra{
    position:relative;
    left: 50%;
    margin-left: -152.99px;
    }
    .ciudad1{
      position:absolute;
      font-family:Oswald;
      top: 35%;
      left:50%;
      margin-left: -67.405px;
    }
    .ciudad2{
      position:absolute;
      font-family:Oswald;
      top: 50%;
      left:50%;
      margin-left:-40.89px;
    }
    .btnCalculadora{
    position:absolute;
    font-family:Oswald;
    top: 40%;
    left: 25%;
    margin-left: -76.385px;
    margin-top: -27.5px;
  }
  .btnLbirerias{
    position:absolute;
    font-family:Oswald;
    font-sizepx;
    top: 40%;
    left: 75%;
    margin-left: -75.085px;
    margin-top: -27.5px;
  }
  .btn.btn-default{
    color: white;
    border-color: #207572;
    height: 55px;
  }
  .btn.btn-default:hover{
    border-color:#31f974;
    transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);
  }
    .btn.btn-primary{
        background-color:#212529;
        border-color:#28a745;
      }
     .btn.btn-primary:hover{
        border-color:#FF5722;
        transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);
      }
    .container{
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -180px;
      margin-top: -100px;
      height: 137px;
      width:360px;
    }
    .custom-file{
        width:100%;
    }
    .radios1{
        color: white;
        width:50%;
    }
    .radios2{
        position:relative;
        color:white;
        width: 50%;
        left: 50%;
        top: -47px
    }
    .botones{
        position:relative;
        top: -40px;
    }
    .botones_manual{
        position:relative;
        top: -40px;
    }
    .lblNumcopias{
        color:white;
    }
    .ingresar_numero{
        width: 46%;
        border-radius: 20px;
    }
    .btn.btn-outline-success{
        width:139px;
    }

    .table-responsive-sm{
        position: absolute;
        top: 62%;
        overflow-y: scroll;
        margin-top: -145px;
        height: 290px;
        background-color: white;
    }
    .table-responsive-sm::-webkit-scrollbar{
      background-color:#1b1b1b;
      height: 5px;
      width: 5px;
    }
    .table-responsive-sm::-webkit-scrollbar-corner{
      background-color:#1b1b1b;
    }
    .table-responsive-sm::-webkit-scrollbar-thumb{
      background-color:#d89e10;
      width: 3px;
      height: 3px;
      border-radius: 10px;

    }
    .estado_cerrado:hover{
      background-color: #e47070;
      transition: all 0.5s ease;
   }
   .estado_abierto:hover{
     background-color: #46ce76;
     transition: all 0.5s ease;
   }
    .btn.btn-outline-dark{
        position: absolute;
        top: 9px;
    }
    .accordion{
    position: absolute;
    width: 350px;
    height: 500px;
    top: 30%;
    left: 50%;
    margin-left: -175px;
  }
  .btn.btn-link{
    left: 50%;
    width:200px;
    margin-left: -50px;
    font-family: Oswald;
    color: white;
    background-color: #1b1b1b;
    border-radius: 20px;
    border: solid;
    border-width: 2px;
    border-color: #31f974
  }
  .btn.btn-link.collapsed{
    left: 50%;
    width:200px;
    margin-left: -50px;
    font-family: Oswald;
    color: white;
    background-color: #1b1b1b;
    border-radius: 20px;
    border: solid;
    border-width: 2px;
    border-color: #31f974
  }
  .info-precio-color-simple{
      margin-left: 175px;
      margin-top: -40px;
    }
  .info-precio-byn-simple{
      margin-left: 255px;
      margin-top: -40px;
    }
    .info-precio-color-doble{
        margin-left: 185px;
        margin-top: -40px;
      }
    .info-precio-byn-doble{
        margin-left: 270px;
        margin-top: -40px;
      }
    .info-mail{
      margin-left: 58px;
      margin-top: -40px;
    }

    .info-telefono{
      margin-left: 74px;
      margin-top: -40px;
    }

    .info-direccion{
      margin-left: 83px;
      margin-top: -40px;
    }

    .info-sabado{
      font-weight:bold;
      margin-left: 153px;
      margin-top: -40px;
    }
    .Titulo{
      position:relative;
      text-align: center;
      font-family: Oswald;
      color: white;
      background-color: #1b1b1b;
    }
      .titulos-info{
        font-weight:bold;
      }
      .miNombre{
      position:absolute;
      color:#464444;
      top: 125%;
      left: 50%;
      margin-left: -125.155px;
      font-family: 'Indie Flower', cursive;
    }
    h1{
      font-size: 30px;
    }
   h2{
      position:relative;
      left: 50%;
      width: 95px;
      margin-left:-47.5px;
    }
    .mensaje_error_ciudad{
      position:absolute;
      color: white;
      font-family: 'Amatic SC', cursive;
      left: 50%;
      margin-left: -168.08px;
      top: 50%;
      margin-top:-51px;
    }
    .contenedor-imagenes{
      width: 255px;
    }
    .imgInsta{
      position:absolute;
       width: 20%;
       left: 45%;
       margin-left: -51px;
    }
    .imgGit{
      position:absolute;
       width: 20%;
       left: 45%;
       margin-left: 5px;
    }
}


/* Pantallas medianas */
@media (max-width: 1440px) and (min-width: 600px) {
  .texto-barra{
    position:relative;
    left: 50%;
    margin-left: -152.99px;
  }
  .ciudad1{
    position:absolute;
    font-family:Oswald;
    top: 35%;
    left:50%;
    margin-left: -75px;
  }
  .ciudad2{
    position:absolute;
    font-family:Oswald;
    top: 50%;
    left:50%;
    margin-left:-75px;
  }
  .btnCalculadora{
    position:absolute;
    font-family:Oswald;
    top: 50%;
    left: 25%;
    margin-left: -92.165px;
    margin-top: -27.5px;
  }
  .btnLbirerias{
    position:absolute;
    font-family:Oswald;
    font-sizepx;
    top: 50%;
    left: 75%;
    margin-left: -89.045px;
    margin-top: -27.5px;
  }
  .btn.btn-default{
    color: white;
    border-color: #207572;
    height: 55px;
  }
  .btn.btn-default:hover{
    border-color:#31f974;
    transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);
  }
  .btn.btn-primary{
      height: 55px;
      width: 150px;
      background-color:#212529;
      border-color:#28a745;
    }
 .btn.btn-primary:hover{
    border-color:#FF5722;
    transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);
  }
  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -180px;
    margin-top: -100px;
    height: 137px;
    width:360px;
  }
  .custom-file{
      width:100%;
  }
  .radios1{
      color: white;
      width:50%;
  }
  .radios2{
      position:relative;
      color:white;
      width: 50%;
      left: 50%;
      top: -47px
  }
  .botones{
      position:relative;
      top: -40px;
  }
  .botones_manual{
      position:relative;
      top: -40px;
  }
  .lblNumcopias{
      color:white;
  }
  .ingresar_numero{
      width: 46%;
      border-radius: 20px;
  }
  .btn.btn-outline-success{
      width:139px;
  }

  .table-responsive-sm{
      position: fixed;
      overflow:scroll;
      top: 50%;
      margin-top: -110px;
      height: 290px;
      width:100%;
      background-color: white;
  }
  .table-responsive-sm::-webkit-scrollbar{
      background-color:#1b1b1b;
      height: 5px;
      width: 5px;
    }
    .table-responsive-sm::-webkit-scrollbar-corner{
      background-color:#1b1b1b;
    }
    .table-responsive-sm::-webkit-scrollbar-thumb{
      background-color:#d89e10;
      border-radius: 30px;

    }
  .estado_cerrado:hover{
    background-color: #e47070;
    transition: all 0.5s ease;
 }
 .estado_abierto:hover{
   background-color: #46ce76;
   transition: all 0.5s ease;
 }
  .btn.btn-outline-dark{
      position: absolute;
      top: 9px;
  }
  .accordion{
    position: absolute;
    width: 450px;
    height: 500px;
    top: 15%;
    left: 50%;
    margin-left: -225px;
  }
  .btn.btn-link{
    left: 50%;
    width:200px;
    margin-left: -50px;
    font-family: Oswald;
    color: white;
    background-color: #1b1b1b;
    border-radius: 20px;
    border: solid;
    border-width: 2px;
    border-color: #31f974
  }
  .btn.btn-link.collapsed{
    left: 50%;
    width:200px;
    margin-left: -50px;
    font-family: Oswald;
    color: white;
    background-color: #1b1b1b;
    border-radius: 20px;
    border: solid;
    border-width: 2px;
    border-color: #31f974
  }
  .info-precio-color-simple{
      margin-left: 175px;
      margin-top: -40px;
    }
  .info-precio-byn-simple{
      margin-left: 255px;
      margin-top: -40px;
    }
    .info-precio-color-doble{
        margin-left: 185px;
        margin-top: -40px;
      }
    .info-precio-byn-doble{
        margin-left: 270px;
        margin-top: -40px;
      }
    .info-mail{
      margin-left: 58px;
      margin-top: -40px;
    }

    .info-telefono{
      margin-left: 74px;
      margin-top: -40px;
    }

    .info-direccion{
      margin-left: 83px;
      margin-top: -40px;
    }

    .info-sabado{
      font-weight:bold;
      margin-left: 153px;
      margin-top: -40px;
    }
    .Titulo{
      position:relative;
      text-align: center;
      font-family: Oswald;
      color: white;
      background-color: #1b1b1b;
    }
    .titulos-info{
      font-weight:bold;
    }
    .miNombre{
      position:absolute;
      color:#464444;
      width: 255px;
      top:85%;
      left: 50%;
      margin-left: -125.155px;
      font-family: 'Indie Flower', cursive;
    }
    h2{
      position:relative;
      left: 50%;
      width: 95px;
      margin-left:-47.5px;
    }
    .mensaje_error_ciudad{
      position:absolute;
      color: white;
      font-family: 'Amatic SC', cursive;
      left: 50%;
      margin-left: -224.1px;
      top: 50%;
      margin-top:-51px;
    }
    .contenedor-imagenes{
      width: 255px;
    }
    .imgInsta{
      position:absolute;
       width: 20%;
       left: 45%;
       margin-left: -51px;
    }
    .imgGit{
      position:absolute;
       width: 20%;
       left: 45%;
       margin-left: 5px;
    }
    .alert.alert-warning{
      height: 40px;
    }
}


/* Pantallas grandes */
@media (max-width: 1920px) and (min-width: 1600px) {
  .texto-barra{
    position:relative;
    left: 50%;
    margin-left: -152.99px;
  }
  .ciudad1{
    position:absolute;
    font-family:Oswald;
    top: 35%;
    left:50%;
    margin-left: -100px;
  }
  .ciudad2{
    position:absolute;
    font-family:Oswald;
    top: 50%;
    left:50%;
    margin-left:-100px;
  }
  .btnCalculadora{
    position:absolute;
    font-family:Oswald;
    top: 50%;
    left: 25%;
    margin-left: -92.165px;
    margin-top: -27.5px;
  }
  .btnLbirerias{
    position:absolute;
    font-family:Oswald;
    font-sizepx;
    top: 50%;
    left: 75%;
    margin-left: -89.045px;
    margin-top: -27.5px;
  }
  .btn.btn-default{
    color: white;
    border-color: #207572;
    height: 55px;
  }
  .btn.btn-default:hover{
    border-color:#31f974;
    transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);
  }
  .btn.btn-primary{
      height: 65px;
      width: 200px;
      background-color:#212529;
      border-color:#28a745;
    }
 .btn.btn-primary:hover{
    border-color:#FF5722;
    transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);
  }
  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -180px;
    margin-top: -100px;
    height: 137px;
    width:360px;
  }
  .custom-file{
      width:100%;
  }
  .radios1{
      color: white;
      width:50%;
  }
  .radios2{
      position:relative;
      color:white;
      width: 50%;
      left: 50%;
      top: -47px
  }
  .botones{
      position:relative;
      top: -40px;
  }
  .botones_manual{
      position:relative;
      top: -40px;
  }
  .lblNumcopias{
      color:white;
  }
  .ingresar_numero{
      width: 46%;
      border-radius: 20px;
  }
  .btn.btn-outline-success{
      width:139px;
  }

  .table-responsive-sm{
      position: fixed;
      overflow:scroll;
      top: 50%;
      margin-top: -110px;
      height: 290px;
      width:100%;
      background-color: white;
  }
  .table-responsive-sm::-webkit-scrollbar{
      background-color:#1b1b1b;
      height: 5px;
      width: 5px;
    }
    .table-responsive-sm::-webkit-scrollbar-corner{
      background-color:#1b1b1b;
    }
    .table-responsive-sm::-webkit-scrollbar-thumb{
      background-color:#d89e10;
      border-radius: 30px;

    }
  .estado_cerrado:hover{
    background-color: #e47070;
    transition: all 0.5s ease;
 }
 .estado_abierto:hover{
   background-color: #46ce76;
   transition: all 0.5s ease;
 }
  .btn.btn-outline-dark{
      position: absolute;
      top: 9px;
  }
  .accordion{
    position: absolute;
    width: 450px;
    height: 500px;
    top: 15%;
    left: 50%;
    margin-left: -225px;
  }
  .btn.btn-link{
    left: 50%;
    width:200px;
    margin-left: -50px;
    font-family: Oswald;
    color: white;
    background-color: #1b1b1b;
    border-radius: 20px;
    border: solid;
    border-width: 2px;
    border-color: #31f974
  }
  .btn.btn-link.collapsed{
    left: 50%;
    width:200px;
    margin-left: -50px;
    font-family: Oswald;
    color: white;
    background-color: #1b1b1b;
    border-radius: 20px;
    border: solid;
    border-width: 2px;
    border-color: #31f974
  }
  .info-precio-color-simple{
      margin-left: 175px;
      margin-top: -40px;
    }
  .info-precio-byn-simple{
      margin-left: 255px;
      margin-top: -40px;
    }
    .info-precio-color-doble{
        margin-left: 185px;
        margin-top: -40px;
      }
    .info-precio-byn-doble{
        margin-left: 270px;
        margin-top: -40px;
      }
    .info-mail{
      margin-left: 58px;
      margin-top: -40px;
    }

    .info-telefono{
      margin-left: 74px;
      margin-top: -40px;
    }

    .info-direccion{
      margin-left: 83px;
      margin-top: -40px;
    }

    .info-sabado{
      font-weight:bold;
      margin-left: 153px;
      margin-top: -40px;
    }
    .Titulo{
      position:relative;
      text-align: center;
      font-family: Oswald;
      color: white;
      background-color: #1b1b1b;
    }

    .titulos-info{
      font-weight:bold;
    }
    .miNombre{
      position:absolute;
      color:#464444;
      top:85%;
      left: 50%;
      margin-left: -125.155px;
      font-family: 'Indie Flower', cursive;
    }
    h2{
      position:relative;
      left: 50%;
      width: 95px;
      margin-left:-47.5px;
    }
    .mensaje_error_ciudad{
      position:absolute;
      color: white;
      font-family: 'Amatic SC', cursive;
      left: 50%;
      margin-left: -224.1px;
      top: 50%;
      margin-top:-51px;
    }
    .contenedor-imagenes{
      width: 255px;
    }
    .imgInsta{
      position:absolute;
       width: 20%;
       left: 45%;
       margin-left: -51px;
    }
    .imgGit{
      position:absolute;
       width: 20%;
       left: 45%;
       margin-left: 5px;
    }
}
}
