html{
  background-color: #1b1b1b;
}

@media (max-width: 460px) and (min-width: 360px) {
    .navbar-brand{
        position: relative;
        left: 50%;
        margin-left: -100px;
    }
    .ciudad1{
      position:absolute;
      top: 35%;
      left:100%;
      margin-left:-185px;
    }
    .ciudad2{
      position:absolute;
      top: 35%;
      left:50%;
      margin-left: -200px;
    }
    .container{
      position: absolute;
      top: 50%;
      margin-top: -100px;
      height: 137px;
    }
    .radios1{
        color: white;
        width:50%;
    }
    .radios2{
        position:relative;
        color:white;
        width: 50%;
        left: 50%;
        top: -47px
    }
    .botones{
        position:relative;
        top: -40px;
    }
    .botones_manual{
        position:relative;
        top: -40px;
        margin-left: 16.68px;
    }
    .lblNumcopias{
        color:white;
    }
    .ingresar_numero{
        width: 57%;
        border-radius: 20px;
    }
    .btn.btn-outline-success{
        width:139px;
    }
    
    .table-responsive-sm{
        position: fixed;
        top: 50%;
        margin-top: -100px;
        height: 137px;
        background-color: white;
    }
    .btn.btn-outline-dark{
        position: absolute;
        top: 9px;
    }
    .alert.alert-primary{
        position: absolute;
        top: 20%;
        width: 360px;
    }
    .info-precio-color{
        margin-left: 222px;
        margin-top: -40px;
      }
    .info-precio-byn{
        margin-left: 305px;
        margin-top: -40px;
      }
      .info-mail{
        margin-left: 58px;
        margin-top: -40px;
      }

      .info-telefono{
        margin-left: 74px;
        margin-top: -40px;
      }

      .info-direccion{
        margin-left: 83px;
        margin-top: -40px;
      }

      .info-sabado{
        font-weight:bold;
        margin-left: 153px;
        margin-top: -40px;
      }

      .titulos-info{
        font-weight:bold;
      }
}