<!DOCTYPE html>
<html lang="es" dir="ltr">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename = 'estilo.css')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% include 'barra_navegacion.html' %}
    {% include 'hecho_por.html' %}
  </head>
  <body>
    <div class="container">
      <form class="entrada_documentos" action="/resultados" method="post" enctype="multipart/form-data">
        <input type="hidden" id="city" name="city" value="gualeguaychu">
          <div class="rango">
            <label class="lblNumcopias" for="customRange3">Numero de copias: </label>
            <input type="number" name="numero" class="ingresar_numero" min="1" max="1000" id="numero" required>
          </div>
          <div class="radios1">
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio1" name="radio1" class="custom-control-input" value="byn" required>
              <label class="custom-control-label" for="customRadio1" >Blanco y negro</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio2" name="radio1" class="custom-control-input" value="color">
              <label class="custom-control-label" for="customRadio2"  >Color</label>
            </div>
          </div>
          <div class="radios2">
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio3" name="radio2" class="custom-control-input" value="simple" required>
              <label class="custom-control-label" for="customRadio3" >Simple</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio4" name="radio2" class="custom-control-input" value="doblefaz">
              <label class="custom-control-label" for="customRadio4" >Doble faz</label>
            </div>
          </div>
          <input type="hidden" id="idHora" name="idHora">
          <input type="hidden" id="idMinutos" name="idMinutos">
          <input type="hidden" id="idSegundos" name="idSegundos">
          <input type="hidden" id="idDia" name="idDia">
          <input type="hidden" id="city" name="city" value="gualeguaychu">
          <input type="hidden" id="modo" name="modo" value="manual">
          <script type="text/javascript">
            var fechaHoy = new Date();
            var hora = fechaHoy.getHours();
            var minutos = fechaHoy.getMinutes();
            var segundos = fechaHoy.getSeconds();
            var dia = fechaHoy.getDay();
            document.getElementById("idHora").value = hora;
            document.getElementById("idMinutos").value = minutos;
            document.getElementById("idSegundos").value = segundos;
            document.getElementById("idDia").value = dia;
          </script>
          <div class="botones_manual">
            <a style="text-decoration: none" href="/formulario_gchu_automatico">
              <button type="button" name='btnManualgchu' value="gchu_manual" class="btn btn-outline-info">Ingresar el archivo</button>
            </a>
            <button type="submit" class="btn btn-outline-success">Ver resultados</button>
          </div>
      </form>
    </div>
  </body>
</html>
