<link rel="stylesheet" href="{{url_for('static', filename = 'estilo.css')}}">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
<div class="miNombre">
    <h5>Hecho por Santiago Landaburo</h5>
    <a href="https://www.instagram.com/santiago.landaburo/"><img src="{{url_for('static', filename = 'insta.png')}}" alt="instagram"></a>
    <a href="https://github.com/LandaburoSantiago"><img src="{{url_for('static', filename = 'GitHub-Mark.png')}}" alt="GitHub"></a>
</div>
