<link rel="stylesheet" href="{{url_for('static', filename = 'estilo.css')}}">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
<div class="miNombre">
    <h5>Hecho por Santiago Landaburo</h5>
    <a href="https://www.instagram.com/santiago.landaburo/"><img src="/home/santiago/github/proyecto-fotocopiadoras/static/insta.png" alt=""></a><img src="/home/santiago/github/proyecto-fotocopiadoras/static/insta.png" alt="Instagram">
    <a href="https://github.com/LandaburoSantiago"><img src="/home/santiago/github/proyecto-fotocopiadoras/static/insta.png" alt=""></a><img src="/home/santiago/github/proyecto-fotocopiadoras/static/GitHub-Mark.png" alt="Github">
</div>
