<!DOCTYPE html>
<html lang="es" dir="ltr">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename = 'estilo.css')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      })
    </script>
    </script>
    <title>sin titulo</title>
    {% include 'barra_navegacion.html' %}
    {% include 'hecho_por.html' %}
    <a href="javascript:history.back()"><button type="button" class="btn btn-outline-dark">ATRAS</button></a>
</head>
<body>
  <div class="alert alert-primary" role="alert">
    <h5 class="alert-titulo">{{info['nombre']}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Horarios: {{info['hora_apertura_maniana']}} a {{info['hora_cierre_maniana']}} y {{info['hora_apertura_tarde']}} a {{info['hora_cierre_maniana']}}</h6>
    <p class="titulos-info">Precio de la fotocopia a color simple:</p><p class="info-precio-color">{{info['precio_fotocopia_color_simple']}}</p>
    <p class="titulos-info">Precio de la fotocopia en blanco y negro simple:</p><p class="info-precio-byn">{{info['precio_fotocopia_byn_simple']}}</p>
    <p class="titulos-info">Precio de la fotocopia a color doblefaz:</p><p class="info-precio-color">{{info['precio_fotocopia_color_doble']}}</p>
    <p class="titulos-info">Precio de la fotocopia en blanco y negro dbolefaz:</p><p class="info-precio-byn">{{info['precio_fotocopia_byn_doble']}}</p>
    <p class="titulos-info">E-Mail:</p><p class="info-mail">{{info['mail']}}</p>
    <p class="titulos-info">Telefono:</p><p class="info-telefono">{{info['telefono']}}</p>
    <p class="titulos-info">Direccion:</p><p class="info-direccion">{{info['direccion']}}</p>
    <p class="titulos-info">El sabado a la tarde</p><p class="info-sabado">{{info['sabado_tarde']}} abre</p>
  </div>
</body>
</html>
