<!DOCTYPE html>
<html lang="es" dir="ltr">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename = 'estilo.css')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      })
    </script>
    </script>
    <title>sin titulo</title>
    {% include 'barra_navegacion.html' %}
    {% include 'hecho_por.html' %}
    <a href="javascript:history.back()"><button type="button" class="btn btn-outline-dark">ATRAS</button></a>
</head>
<body>
  <div class="accordion" id="accordionExample">
    <div class="Titulo">
        <h5 class="alert-titulo">{{info['nombre']}}</h5>
    </div>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Infomración de contacto
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p class="titulos-info">E-Mail:</p><p class="info-mail"><a href="mailto:{{info['mail']}}">{{info['mail']}}</a></p>
          <p class="titulos-info">Telefono:</p><p class="info-telefono">{{info['telefono']}}</p>
          <p class="titulos-info">Direccion:</p><p class="info-direccion">{{info['direccion']}}</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Precios
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <p class="titulos-info">Copia a color simple:</p><p class="info-precio-color-simple">{{info['precio_fotocopia_color_simple']}}</p>
          <p class="titulos-info">Copia en blanco y negro simple:</p><p class="info-precio-byn-simple">{{info['precio_fotocopia_byn_simple']}}</p>
          <p class="titulos-info">Copia a color doblefaz:</p><p class="info-precio-color-doble">{{info['precio_fotocopia_color_doble']}}</p>
          <p class="titulos-info">Copia en blanco y negro dbolefaz:</p><p class="info-precio-byn-doble">{{info['precio_fotocopia_byn_doble']}}</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Horario de atención
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Horarios: {{info['hora_apertura_maniana']}} a {{info['hora_cierre_maniana']}} y {{info['hora_apertura_tarde']}} a {{info['hora_cierre_maniana']}}</h6>
          <p class="titulos-info">El sabado a la tarde</p><p class="info-sabado">{{info['sabado_tarde']}} abre</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="alert alert-primary" role="alert">


  </div> -->
</body>
</html>
